/* max-width770px */
@media screen and (max-width: 770px) {
.header-right {
  background-color: #dc1434;
  color: white;
  padding: 10px 10px;
  font-size: 10px;
  opacity: 0.8;
  margin: 0;
  border-radius: 0;
}

#fa{
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
}

.yellow-box{
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 10px);
    padding: 5px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellow-box::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.yellow-box::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.brsp{
  display: block;
}

/* about */
.yellow-boxb h2{
  font-size: 20px;
}
.texts-e{
  font-size: 15px;
}
.skils{
  padding: 10px;
}
.box{
  padding: 5px;
  font-size: 10px;
}
.box img{
  height: 50px !important;
  width: 50px;
}
.box2{
  width: 100%;
}




/* learning */
.texts-h h2{
  font-size: 20px;
}
.texts-h p{
  font-size: 15px;
}
.box-orange{
  width: 130px;
  height: 130px;
  font-size: 15px;
}
.box-orange i{
  margin: 0;
  margin-top: 20px;
}


.texts-k h2{
  font-size: 20px;
}
.texts-l p{
  font-size: 10px;
}
.texts-m p{
  font-size: 10px;
}



.manman{
  margin: 10px 0;
}

.texts-o li{
  font-size: 10px;
  border-top: : 1px solid #a9a9a9;
  padding: 3px;
}

.texts-n{
  padding: 10px;
}
.texts-n h2{
  font-size: 20px;
}




/* bankok */
.bankok-box h2{
  font-size: 20px;
}
.bankok-box p{
  font-size: 13px;

}
.texts-q li{
  font-size: 15px;
}
.texts-q h2{
  font-size: 20px;
}




/* boluntia */
.boluntia h1{
  font-size: 20px;
}
.texts-r p{
  font-size: 10px;
}
.white-box h1{
  font-size: 20px;
}
.texts-s p{
  font-size: 10px;
}
}






/* width545px */
@media screen and (max-width: 545px){
.media{
  display: none !important;
}
.specials{
  padding: 20px;
}
.specialsen{
  padding: 100px 0;
}
.specialmedias{
  display: block;
}

.specialmedia{
  display: block;
  margin: 100px 0;
  padding: 0px;
}
.fafafa{
  height: 60px;
  width: 60px;
  display: inline-block;
  float: left;
  position: relative;
  bottom: 20px;
}
.fafafa p{
  color: gold;
  height: 60px;
  padding: 3px;
  margin: 0;
  line-height: 50px;
}
.specialright{
  text-align: left;
  font-size: 10px;
  color: #fff;
}
.top-top{
  padding: 150px 0;
}
.top-bottom code{
  font-size: 10px;
}
}
