/* 全体設定 */
body {
  font-family: arial sans-serif;
  word-wrap: break-word;
}

.container {
  margin: 0 180px;
}
ul{
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.brsp{
  display: none;
}
/* header */
header {
  overflow: auto;
  position: fixed;
  background-color: #fff !important;
  width: 100%;
  z-index: 24;
}

.header-left {
  float: left;
  display: flex;
}

.header-left p {
  margin-top: 20px;
  font-size: 10px;
}

.header-right {
    margin-top: 10px;
    float: right;
    background-color: #dc1434;
    color: white;
    padding: 10px 40px;
    font-size: 10px;
    border-radius: 100px;
    opacity: 0.8;
}
.header-right a{
  color: white;
}
#fa{
  display: none;
}


/* section top */
/* top-top */
.top-top {
  background-image: url(img/unnamed.png);
  text-align: center;
  padding: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-in {
  display: inline-block;
  background-color: white;
  opacity: 0.9;
  border-radius: 100px
}

.font-in h1{
  font-size: 30px;
  line-height: 50px;
}
/* top-bottom */
.top-bottom {
  background-color: orange;
  text-align: center;
}

.top-bottom p{
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.top-bottom code{
  background-color: white;
  color: red;
  padding: 5px 5px;
  border-radius: 10px;
}
/* texts-a */
.texts-a{
  padding-top: 20px;
}
.texts-a p{

}
/* consevertion-btn */
.consevertion-btn{
  margin:  50px;
  background-color: #dc1434;
  padding: 30px 50px;
  font-size: 30px;
  border-radius: 100px;
  opacity: 0.8;
}
.top-bottom .consevertion-btn a{
  color: white;
}
/* texts-b */
  .texts-b{
    padding: 20px;
  }
.texts-b li{
  display: inline-block;
}

.texts-b a{
  color: white !important;
  background-color: blue;
  border-radius: 10px;
  padding: 5px 10px;
}


#twitter {
  background-color: royalblue;
}
/* introduction */
.introduction{
  padding: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.yellow-box {
  margin: 0 auto;
  position: relative;
  max-width: 80%;
  padding: 30px 0;
}

.yellow-box h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.yellow-box::before{
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellow-box::after{
  bottom: 0;
  right: 0;
  border-bottom:4px solid #ebb94d;
  border-right:4px solid #ebb94d;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* texts-c */
.texts-c{

}
.texts-c p{
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.texts-c span{
  background: linear-gradient(transparent 70%, #ebb94d 70%);
  font-weight: bold;
}
/* about */
.about{
  text-align: center;
  background-color: #fef5e0;
  padding-bottom: 100px;
}
.aboution{
  top: -40px;
  position: relative;
}
.circle{
  display: inline-block;
  background-color: #ebb94d;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  line-height: 80px;
  color: white;
  font-weight: lighter;
}
.yellow-boxb{
  margin: 0 auto;
  position: relative;
  max-width: 80%;
  padding:15px;
}
.yellow-boxb::before{
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.yellow-boxb::after{
  bottom: 0;
  right: 0;
  border-bottom:4px solid #ebb94d;
  border-right:4px solid #ebb94d;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.yellow-boxb h2{
  text-align: center;
}

.texts-d{
  text-align: center;
  margin: 50px　0;
  font-weight: bold;
}

/* box */
.skils{
  border: 4px solid #ebb94d;
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.box{
  display: inline-block;
  font-size: 15px;
}
/* aboutsecond */
.aboutsecond{
  background-image: url(img/backc.jpg);
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
 .texts-f h2{
  margin: 20px 0;
  font-size: 20px;
  color: white;
}
.texts-f p{
  color: white;
  font-weight: bold;
}
.texts-f span{
  color: orange;
}
.aboutsecond{
  text-align: center;

}
.box2{
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 30px 20px;
  margin: 30px auto;
  width: 50%;
}
.step{
  background-color: gold;
  display: inline-block;
  padding: 5px 120px;
  border-radius: 10px;
  color: white;
}
/* blue */
.blue{
  background-color: royalblue;
  padding: 30px 0;
  text-align: center;
}
.texts-g p{
  color: white;

}
.texts-g span{
  color: orange;
}
/* learning */
.learning{
  text-align: center;
  padding: 100px 0;
}
/* box-orange */
.box-oranges{

}
.box-orange{
  display: inline-block;
  background-color: gold;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  margin: 20px;
}
.box-orange i{
  font-size: 40px;
  color: white;
  margin: 20px;
}
.box-orange p{
  font-size: 15px;
  color: white;
}
.texts-i p{
  margin-top: 50px;
}
/* differents */
.differents{
  text-align: center;
  background-color: #fef5e0;
  padding: 100px 0;
}
.different{
margin-top:50px;
}

.texts-j h3{
color: gold;
font-size: 20px;
margin: 10px 0;
}
.texts-j p{
  color: #696969;
  font-size: 15px;
}
.skils {font-weight: bold;}
.texts-k h2{
  color: gold;
  font-size: 30px;
}
.texts-l p{
  font-size: 15px;
}
.texts-m{
  width: 70%;
  margin: 0 auto;
  color: #696969;
}
/* .aboutsecond */
.class-wrap{
  background-color: #fff;
  border: 2px solid #016ea9;
  font-weight: bold;
}
.texts-n{
  color: white;
  background-color: #016ea9;
}
.aaa{

}
.texts-o ul{
  padding: 0;
}
.class-box{
  padding: 30px 10%;
}
.manman{
  margin: 0 auto;
}
/* バンコク */
.bankok{
  background-image: url(img/bankok.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
}
.bankok h2{
  font-size: 25px;
  font-weight: bold;
}
.bankok-box{
  margin: 0 50px;
}



/* special */
.specials{
  text-align: center;
  background-color: gold;
  padding: 100px;
}
.special{

  bottom: -60px;
  position: relative;
  background-color: gold;
  display: inline-block;
}
.specials span{
  color: white;
}
.special p{
  font-size: 30px;
  margin-top: 50px;
}

.specialsen{
  border: 1px solid #fff;
  width: auto;
  padding: 50px;
}
.fafafa{
  width: 250px;
  height: 250px;
  background-color: #fff;
  padding: 0;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
.fafafa h1{
  font-size: 20px;
  color: gold;
}
.fafafa p{
  font-size: 15px;
}


.tx{
  padding: 15px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;
}


/* hide */
.specialmedias{
  display: none;
}





/* boluntia */
.boluntia{
  background-image: url(img/backd.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 50px;
}
.boluntia h1{
  font-size: 25px;
}
.white-box{
  position: relative;
  padding: 30px;
  margin-top: 60px;
}

.white-box::before{
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.white-box::after{
  bottom: 0;
  right: 0;
  border-bottom:4px solid #fff;
  border-right:4px solid #fff;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* message */
.message{
  font-size: 15px;
  padding: 50px;
}
.message li{
  list-style: disc;
}
.texts-t{
  text-align: center;
}
.texts-t p{
  font-weight: bold;
}




/* document */
.document{
  background-color: sandybrown;
  padding: 50px;
  text-align: center;
}
.documentform{
  margin: 0 auto;
}

.document input{
  display: block;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 0 auto;
  margin-bottom: 25px;

}
.document textarea{
  display: block;
  width: 80%;
  height: 70px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin:0 auto;
  margin-bottom: 25px;
}

.submit input{
  display: block;
  width: 80%;
  height: 75px;
  border-radius: 50px;
  padding: 10px;
  border: none;
  margin: 0 auto;
  background-color: tomato;
  font-size: 30px;
  color: white;

}





/* question */





.ansewer{
  position: relative;
}
.question{
  text-align: center;
  padding: 50px;

}

.panel {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 20px;
}

.panel h4{
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.panel span{
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 30px;
  color: #696969;
}

.hide{
  display: none;
}

.hide p{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #696969;
}


.add{
  display: block;
}



/* footer */
footer{
  text-align: center;
}
footer .texts-ff{
  font-size: 10px;
}
